:root{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imgPerfil{
    max-width: 30px;
    border-radius: 50%;
}

a {
    color: inherit;
    text-decoration: none;
}