:root{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

figure{
    /*margin-top: 2rem;
    margin-bottom: 2rem;*/
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
}

img{
    background-size: cover;
}